button {
  display: block;
  border: 0;
  width: 16.25rem;
  padding: 15px 0;
  border-radius: 50px;
  background-color: var(--blue-color);
  cursor: pointer;
  color: var(--white-color);
  font-size: 0.875rem;
}

button:hover {
  background-color: var(--cyan-color);
}